html {
    height: 100%;  // give full vertical height to the body
}

body {
    height: 100%;  // give full vertical height to all content
    margin: 0;  // disable any default margin
    font: 100% Helvetica, sans-serif;
}

div.jback-page {

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;  // fill the browser window height (use the space provided by parent)

    div.jback-header {

        color: white;
        background-color: red;

        order: 1;

        display: flex;
        flex-direction: row;
        width: 100%;  // it will fully cover horizontal space
        flex-wrap: wrap;

        div.jback-role {

            order: 1;
            flex: 1;  // it will take up all remaining space until next element
        }

        div.jback-login {

            order: 2;
        }
    }

    div.jback-content {

        order: 2;  // after jback-header
        flex: 1;

        overflow: auto;
    }

    div.jback-footer {

        order: 3;  // after jback-content
    }
}
