<h1>Finish Registration</h1>

<div>
  This is step three (the final step) of the registration, where you can fill in additional user details.
</div>

<div>
  <label>First Name:</label>
  <input [(ngModel)]="model.firstName" placeholder="first name"/>
</div>

<div>
  <label>Last Name:</label>
  <input [(ngModel)]="model.lastName" placeholder="last name"/>
</div>

<div>
  <div *ngFor="let line of model.address; let i = index;trackBy:trackByIdx">
    <label>ch.patchcode.jback.core.entities.Address Line {{ i }}:</label>
    <input [(ngModel)]="model.address[i]" placeholder="address line {{ i }}"/>
    <label *ngIf="model.address.length > 1" (click)="removeLine(i)">(remove line)</label>
  </div>
  <label (click)="addLine()">(add line)</label>
</div>

<button [disabled]="!canSubmit()" (click)="submit()">
  Submit
</button>
