<h1>Register</h1>

<div>
  This is step one (of three) of the registration. We ask for your name, and for a way to get back to you, so we can do some simple identity check.
  For that, you may give us an email address or a phone number, and we will send you a verification code in return.
</div>

<div>
  <label>First Name:</label>
  <input [(ngModel)]="model.firstName" placeholder="first name"/>
</div>

<div>
  <label>Last Name:</label>
  <input [(ngModel)]="model.lastName" placeholder="last name"/>
</div>

<div>
  <label>Verification Method:</label>
  <select [(ngModel)]="model.verificationMean">
    <option *ngFor="let verificationMean of verificationMeans" [ngValue]="verificationMean">{{ verificationMean.type }}</option>
  </select>
</div>

<div *ngIf="isEmail()">
  <label>Email Address:</label>
  <input [(ngModel)]="model.verificationMean.emailAddress" placeholder="email@address.com"/>
</div>

<div *ngIf="isSms()">
  <label>SMS Phone Number:</label>
  <input [(ngModel)]="model.verificationMean.phoneNumber" placeholder="+41 44 444 44 44"/>
</div>

<button [disabled]="!canSubmit()" (click)="submit()">
  Submit
</button>
