
<div>
  <label>First Name:</label>
  <input [(ngModel)]="data.firstName" placeholder="first name"/>
</div>

<div>
  <label>Last Name:</label>
  <input [(ngModel)]="data.lastName" placeholder="last name"/>
</div>

<div>
  <label>Verification Method:</label>
  <select [(ngModel)]="verificationMethod">
    <option *ngFor="let methodOption of methodOptions" [ngValue]="methodOption">{{ methodOption.type }}</option>
  </select>
</div>

<div *ngIf="isEmail()">
  <label>Email Address:</label>
  <input [(ngModel)]="verificationMethod.emailAddress" placeholder="email@address.com"/>
</div>

<div *ngIf="isSms()">
  <label>SMS Phone Number:</label>
  <input [(ngModel)]="verificationMethod.phoneNumber" placeholder="+41 44 444 44 44"/>
</div>

<button [disabled]="!canSubmitAndContinue()">
  Submit and Continue
</button>
